{extend name="public:base"/}

{block name="main"}


{tag:Auth action='123' controller='456'}
    dddd22
{/tag:Auth}

<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset6 layui-btn-group-list">
   
      <div class="layui-btn-group">
        <button class="layui-btn layui-btn-primary layui-btn-sm count-menu-set" data-day="0">
          今日
        </button>
        <button class="layui-btn layui-btn-primary layui-btn-sm" data-day="7">
          7日
        </button>
        <button class="layui-btn layui-btn-primary layui-btn-sm" data-day="30">
          30日
        </button>
        <!-- <button class="layui-btn layui-btn-primary layui-btn-sm" data-day="all">
          全部
        </button> -->
      </div>
       <div class="layui-inline" style="width:100px;"> 
          <input type="text" class="layui-input" id="start" placeholder="开始" style="height: 31px;">
        </div>
        <div class="layui-inline" style="width:100px;"> 
          <input type="text" class="layui-input" id="end" placeholder="结束" style="height: 31px;">
        </div>
        <div class="layui-inline" style="width:100px;"> 
          
          <button class="layui-btn layui-btn-sm layui-btn-primary" id="time">
             <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
    </div>
</div>
<div class="layui-row">
    <table class="layui-table table-count">
    
        <tbody>
          <tr>
            <td>
              <p>新增用户</p>
              <b></b>
            </td>
            <td>
              <p>新增留言</p>
              <b></b>
            </td>
            <td>
              <p>订单统计</p>
              <b></b>
            </td>
            <td>
              <p>访客统计</p>
              <b></b>
            </td>
          </tr>

        </tbody>
    </table>
</div>
<div class="layui-row">
    <div style="height:450px;" id="user">
    </div>

</div>

<div class="layui-row">
    <div style="height:450px;" id="msg">
    </div>

</div>

<div class="layui-row">
    <div style="height:450px;" id="order">
    </div>
   
</div>

<div class="layui-row">
    <div style="height:450px;" id="money">
    </div>

</div>


<script type="text/javascript">
$(function(){
   $(".layui-btn-group button").eq(1).click();
});

//echarts3 load动画只有default,无默认动画
$(".layui-btn-group button").click(function(){
    let user = echarts.init(document.getElementById('user'));
    user.showLoading({
        text: '正在努力的读取数据中...'
    });
    let msg = echarts.init(document.getElementById('msg'));
    msg.showLoading({
        text: '正在努力的读取数据中...' 
    });
    let order = echarts.init(document.getElementById('order'));
    order.showLoading({
        text: '正在努力的读取数据中...'
    });
    let money = echarts.init(document.getElementById('money'));
    money.showLoading({
        text: '正在努力的读取数据中...'
    });


    $(".layui-btn-group button").removeClass("count-menu-set");
    $(this).addClass("count-menu-set");

   $.post(location.href,{"type":$(this).attr('data-day')},function(data){

      $(".table-count td b").each(function(k){
        $(this).text(data.sum[k]);
      }); 

      SetChart(user,'用户',data.user,data.day);
      SetChart(msg,'留言',data.order,data.day);
      SetChart(order,'订单',data.book,data.day);
      SetChart(money,'收入',data.money,data.day);

   },'json');


   

});

//时间范围选择
$("#time").click(function(){
   var start=$("#start").val();
   var end=$("#end").val();
   if(start=='' || end==''){
    alert("请选择一个时间范围");
   }else{

      $(".layui-btn-group button").removeClass("count-menu-set");
      $(this).addClass("count-menu-set");

      let user = echarts.init(document.getElementById('user'));
      user.showLoading({
          text: '正在努力的读取数据中...',
      });
      let msg = echarts.init(document.getElementById('msg'));
      msg.showLoading({
          text: '正在努力的读取数据中...', 
      });
      let order = echarts.init(document.getElementById('order'));
      order.showLoading({
          text: '正在努力的读取数据中...',
      });
      let money = echarts.init(document.getElementById('money'));
      money.showLoading({
          text: '正在努力的读取数据中...',
      });

      $.post(location.href,{"start":start,"end":end},function(data){
        
        $(".table-count td b").each(function(k){
          $(this).text(data.sum[k]);
        }); 
        
        SetChart(user,'用户',data.user,data.day);
        SetChart(msg,'留言',data.order,data.day);
        SetChart(order,'订单',data.book,data.day);
        SetChart(money,'收入',data.money,data.day);

     },'json');
   }
});


</script>

<script>
layui.use(['laydate', 'layer'], function(){
  var laydate = layui.laydate;

  
  //执行一个laydate实例
  laydate.render({
    elem: '#start' 
  });
  laydate.render({
    elem: '#end' 
  });
});
</script>
<script type="text/javascript" src="__ADMIN__/js/echarts.common.min.js"></script>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
       

    function SetChart(myChart,text,num,time){
  
        option = {
            title : {
                text: text+'增长统计',
                subtext: '日增'+text
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:[text+'统计']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : time
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:text+'统计',
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:num
                }
            ]
        };
        
         myChart.hideLoading();
        
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


    }
</script>

{/block}