{extend name="public:base"/}
{block name="main"}

<form class="layui-form form" action="" method="POST">
        <div class="layui-form-item">
          <label class="layui-form-label"><span class="form-required">*</span>轮播图片</label>
          <div class="layui-input-inline" >
            <input type="hidden" name="bannerid" value="{$info['bannerid']}">
            <input type="text" name="src" required lay-verify="required" placeholder="封面图片地址" autocomplete="off" class="layui-input"  value="{$info['src']}">
           
          </div>
          {notempty name="info['src']"}
          <div class="layui-input-inline " style="max-width:37px !important;">
             <img src="{$info['src']}" >
          </div>
          {/notempty}
          <div class="layui-input-inline" >
            <button type="button" class="layui-btn layui-btn-small layui-btn-normal fileupload" lay-data="{data:{type:'image'},accept:'images'}" data-name="src">
              <i class="layui-icon">&#xe64a;</i>上传图片
            </button>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">跳转地址</label>
          <div class="layui-input-block" >
            <input type="text" name="link"  placeholder="图片跳转地址" autocomplete="off" class="layui-input"  value="{$info['link']}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">排序</label>
          <div class="layui-input-inline" >
            <input type="text" name="px"  placeholder="排序" autocomplete="off" class="layui-input"  value="{$info['px']}">
          </div>
        </div>
        
        <div class="layui-form-item">
          <label class="layui-form-label">状态</label>
          <div class="layui-input-block">
            <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁用" lay-filter="switchTest" value="1" {if condition="($info['status'] eq '1') OR ($info['status'] neq '0')"}checked=''{/if}>
            <div class="layui-unselect layui-form-switch" lay-skin="_switch">
              <em>OFF</em><i></i>
            </div>
          </div>
        </div>
        <div class="layui-form-item"> 
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
</form>

<script type="text/javascript">
  layui.use(['form','upload','table'], function(){
    var form = layui.form
    ,upload  = layui.upload
    ,table  = layui.table;
     //上传
    upload.render({
      elem: '.fileupload' //绑定元素
      ,url: '{:Url('common/fileupload')}' //上传接口
      ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。

        layer.load(); //上传loading
      }
      ,done: function(res,index){ 

          layer.closeAll('loading');

          if(res.status=='1'){ 
            
              alert("上传成功~"); 

              var item = this.item;

              var dom=item.attr('data-name');
              layui.$("input[name='"+dom+"']").val(res.path);

          }else{
            alert("上传失败,请重试！");
          }
      }
      ,error: function(){
          layer.closeAll('loading');
          alert("上传失败,请重试！");
      }
      ,field:'file' 

    });

    form.on('submit(submit)', function(data){
      
      return FormAjax(location.href,data.field);
     
    });
    

  });
</script>




{/block}