{extend name="public:base"/}
{block name="main"}

<form class="layui-form form" action="" method="POST">
        
        <div class="layui-form-item">
          <label class="layui-form-label"><span class="form-required">*</span>控制器名称</label>
          <div class="layui-input-block" >
            <input type="text" name="controller" required lay-verify="required" placeholder="控制器名称" autocomplete="off" class="layui-input"  value="">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label"><span class="form-required">*</span>表名称</label>
          <div class="layui-input-block" >
            <input type="text" name="tablename" required lay-verify="required" placeholder="表名称" autocomplete="off" class="layui-input"  value="">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label"><span class="form-required">*</span>表主键名称</label>
          <div class="layui-input-block" >
            <input type="text" name="keyname" required lay-verify="required" placeholder="表主键名称" autocomplete="off" class="layui-input"  value="">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label"><span class="form-required">*</span>表格搜索条件</label>
          <div class="layui-input-block" >
            <input type="text" name="search" required lay-verify="required" placeholder="表格搜索条件,用|分割" autocomplete="off" class="layui-input"  value="">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即生成</button>
          </div>
        </div>
</form>

<script type="text/javascript">
  layui.use('form', function(){
    var form = layui.form

    form.on('submit(submit)', function(data){
      
      return FormAjax(location.href,data.field);
     
    });
     
  });
</script>




{/block}