<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="__INDEX__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__INDEX__/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="__INDEX__/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!----webfonts---->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800' rel='stylesheet' type='text/css'> -->
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="__INDEX__/js/move-top.js"></script>
<script type="text/javascript" src="__INDEX__/js/easing.js"></script>
<!---- start-smoth-scrolling---->
</head>
<body>
	<div class="header">
	  <div class="container">
	  	<div class="header_top">
		<ul class="header_box">
			<li class="message"><a href="https://jq.qq.com/?_wv=1027&k=5kGcxXw"><span>qq群：159360042</span></a></li>
		</ul>
		<div class="clearfix"> </div>
	  </div>
	  </div>
	</div>
	<div class="header_bottom">
	  <div class="container">
	  	<div class="logo">
	  	   <a href="index.html"><img src="__INDEX__/images/logo.png" alt=""/></a>
	  	</div>
	  	<div class="consul_btn1"><a href="javascript:;">Free Consultation</a></div>
	  	  <div class="menu">
	  	    <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="javascript:;">菜单</a><div class="nav_icon"><img src="__INDEX__/images/nav_icon.png" alt=""/></div>
				<ul class="nav">
					<li class="active"><a href="#home" class="scroll">主页</a></li>
					<li><a href="#about" class="scroll">关于我们</a>
						<ul>
							
						</ul>
					</li>
					<li><a href="#app" class="scroll">展示</a>
						<ul>
							
						</ul>
					</li>
					<li><a href="#work" class="scroll">客户</a></li>
				</ul>
				<script type="text/javascript" src="__INDEX__/js/nav.js"></script>
			</div><!-- end h_menu4 -->
			<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		    </script>
			<div class="consul_btn"><a href="/admin.php">后台地址</a></div>
            <div class="clearfix"> </div>
	  </div>
	  </div>
	</div>
	<div class="slider" id="home">
  	 <div class="slider_container">
  		<div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	 <div class="banner-wrap">
				   		 <div class="slider-left">
						    <h1>麻雀cms,是什么？</h1>
							<p class="top">一个简单的cms,麻雀虽小，五脏俱全</p>
						    <ul class="button">
						       <li><a href="javascript:;">点击查看</a></li>
							</ul>
						 </div>
					 </div>
					</article>
				   <article style="position: relative; width: 100%; opacity: 1;"> 
				   	 <div class="banner-wrap">
				   		 <div class="slider-left">
						    <h1>麻雀cms,为什么让大众喜欢？</h1>
							<p class="top">因为它简洁，开发迅速~</p>
						    <ul class="button">
						       <li><a href="javascript:;">点击查看</a></li>
							</ul>
						 </div>
					   </div>
				   </article>
				</div>
              </div>
            	 <script src="__INDEX__/js/jquery.wmuSlider.js"></script> 
				       <script>
       						 $('.example1').wmuSlider();         
   						</script> 	           	      
           </div>
       </div>
       <div class="main">
       <div id="about" class="about">
       		<div class="container">
       		   <div class="gallery-head text-center">
				  <h3>关于我们</h3>
				  <p>为什么我们如此受用户欢迎？</p>
				  <span> </span>
			    </div>
       			<div class="row text-center">
       				<div class="col-md-4 about_grid">
       					<i class="icon1"> </i>
       					<h3><a href="javascript:;">永久开源免费</a></h3>
       					<p>Thinkphp+mysql,后台模板采用layui,界面美观，快速上手</p>
       				</div>
       				<div class="col-md-4 about_grid">
       					<i class="icon2"> </i>
       					<h3><a href="javascript:;">功能齐全</a></h3>
       					<p>整合常见cms的大部分功能，去除花哨，留下最实用的部分</p>
       				</div>
       				<div class="col-md-4 about_grid">
       					<i class="icon3"> </i>
       					<h3><a href="javascript:;">用户繁多</a></h3>
       					<p>不论你是新手还是老手，麻雀cms 技术群都会第一时间为你答疑解惑</p>
       				</div>
       			</div>
       		</div>
       	</div>
       	<div class="approach" id="app">
       		<div class="container">
       			 <div class="gallery-head text-center">
				  <h3>最吸引用户的地方</h3>
				  <p>或许这不是最重要的</p>
				  <span> </span>
			    </div>
			    <ul class="list1">
			    	<li class="list1_img"><img src="__INDEX__/images/pic1.jpg" class="img-responsive" alt=""/></li>
			    	<li class="list1_desc"><h3><a href="javascript:;">亮点 1: 永久免费更新</a></h3>
			    		<p>第一时间更新Thinkphp官方最新版本，永久免费更新</p>
			    	</li>
			    	<p class="no">1<br><span>Step</span></p>
			    	<div class="clearfix"> </div>
			    </ul>
			    <ul class="list2">
			    	<li class="list1_desc"><h3><a href="javascript:;">Step 2: 扩展方便</a></h3>
			    		<p>整合常见的各种功能，快速开发，上手急用</p>
			    	</li>
			    	<li class="list1_img"><img src="__INDEX__/images/pic2.jpg" class="img-responsive" alt=""/></li>
			    	<p class="no">2<br><span>Step</span></p>
			    	<div class="clearfix"> </div>
			    </ul>
			    <ul class="list1">
			    	<li class="list1_img"><img src="__INDEX__/images/pic3.jpg" class="img-responsive" alt=""/></li>
			    	<li class="list1_desc"><h3><a href="javascript:;">Step 3: 文档齐全</a></h3>
			    		<p>简单明了，一看就懂，一学就会</p>
			    	</li>
			    	<p class="no">3<br><span>Step</span></p>
			    	<div class="clearfix"> </div>
			    </ul>
			     <ul class="list2">
			    	<li class="list1_desc"><h3><a href="javascript:;">Step 4: 动态扩展</a></h3>
			    		<p>动态存储，模板切换，后台一键搞定</p>
			    	</li>
			    	<li class="list1_img"><img src="__INDEX__/images/pic4.jpg" class="img-responsive" alt=""/></li>
			    	<p class="no">4<br><span>Step</span></p>
			    	<div class="clearfix"> </div>
			    </ul>
       		</div>
       	</div>
       	<div class="work" id="work">
       		<div class="container">
       			<div class="work_top text-center">
				  <h3>客户的声音</h3>
				  <p>下面，让我们看看客户怎么说</p>
				  <span> </span>
			    </div>
			    <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-text">
					  <img src="__INDEX__/images/arrow_icon.png" alt=""/>
					  <h3>淘 宝</h3>
					  <p>我们很推荐这个产品</p>
					</div>
					<div class="port-grid-pic block last">
					  <a href="javascript:;" class="b-link-stripe b-animate-go  thickbox">
					  <img src="__INDEX__/images/w1.jpg" class="img-responsive" style="top: 0px;"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="__INDEX__/images/plus.png" alt="" style="top: 0px;"></h2>
					   </div></a>
					</div>
					<div class="clearfix"> </div>
				 </div>
			   </div>
			   <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-text">
					  <img src="__INDEX__/images/arrow_icon.png" alt=""/>
					  <h3>腾 讯</h3>
					  <p>麻雀cms 让我们省去了很多的时间</p>
					</div>
					<div class="port-grid-pic block last">
					  <a href="javascript:;" class="b-link-stripe b-animate-go  thickbox">
					  <img src="__INDEX__/images/w2.jpg" class="img-responsive" style="top: 0px;"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="__INDEX__/images/plus.png" alt="" style="top: 0px;"></h2>
					   </div></a>
					</div>
					<div class="clearfix"> </div>
				 </div>
			    </div>
			    <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-pic block last">
					  <a href="javascript:;" class="b-link-stripe b-animate-go  thickbox">
					  <img src="__INDEX__/images/w3.jpg" class="img-responsive" style="top: 0px;"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="__INDEX__/images/plus.png" alt="" style="top: 0px;"></h2>
					   </div></a>
					</div>
					<div class="port-grid-text">
					  <img src="__INDEX__/images/arrow_icon.png" alt=""/>
					  <h3>3 6 0</h3>
					  <p>这款产品让我们耳目一新</p>
					</div>
					<div class="clearfix"> </div>
				 </div>
			    </div>
			    <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-pic block last">
					  <a href="javascript:;" class="b-link-stripe b-animate-go  thickbox">
					  <img src="__INDEX__/images/w4.jpg" class="img-responsive" style="top: 0px;"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="__INDEX__/images/plus.png" alt="" style="top: 0px;"></h2>
					   </div></a>
					</div>
					<div class="port-grid-text">
					  <img src="__INDEX__/images/arrow_icon.png" alt=""/>
					  <h3>百  度</h3>
					  <p>自动用了麻雀cms,我们的用户体验直线上升</p>
					</div>
					<div class="clearfix"> </div>
				 </div>
			   </div>
		   </div>
       	</div>
       	<div class="contact">
       		<div class="container">
       			<div class="work_top text-center">
				  <h3>如果你也对它感兴趣</h3>
				  <p>请联系我们</p>
				  <span> </span>
			    </div>
			     <div class="contact-form_grid">
   					<p>我们会在第一时间和你沟通</p>
				  
					 <input type="text" class="textbox" value="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}">
					 <input type="text" class="textbox" value="电话" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '电话';}">
					 <input type="text" class="textbox" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}">
					 <input type="submit" value="立即 提交">
				   
			      </div>
   			  </div>
       	</div>
       </div>
       <div class="footer_top">
       	<div class="container">
       		<h3>Get in touch</h3>
       		<div class="social">
			   <ul>
				 <li><a href=""> <i class="facebook"> </i> </a></li>
				 <li><a href=""><i class="twitter"> </i> </a></li>
				 <li><a href=""><i class="google"> </i> </a></li>
				 <li><a href=""><i class="linkedin"> </i> </a></li>
				 <div class="clear"> </div>
			  </ul>
			</div>
			<p>Subscribe to our newsletter to stay update with what is new</p>
			<div class="footer_form">
   			  
				  <input type="text" class="textbox" value="Email 地址" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email 地址';}">
				  <input type="submit" value="订阅" onclick="javascript:;">
			   
			</div>
       	</div>
       </div>
       <div class="footer-bottom">
   	<div class="container">
   		<div class="copy">
		    <p>Copyright &copy; 2014.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="麻雀cms">麻雀cms</a></p>
		</div>
   	</div>
   </div>
   <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
	<a href="javascript:;" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>
